@import './theme/flex.css';
@import './theme/cores.css';
@import './theme/fonte.css';
@import './theme/link.css';
@import './theme/box-shadow.css';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
